.jsondiffpatch-delta {
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Courier, monospace;
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 12px;
    display: inline-block;
}

.jsondiffpatch-delta pre {
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Courier, monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

ul.jsondiffpatch-delta {
    list-style-type: none;
    padding: 0 0 0 20px;
    margin: 0;
}

.jsondiffpatch-delta ul {
    list-style-type: none;
    padding: 0 0 0 20px;
    margin: 0;
}

.jsondiffpatch-Added .jsondiffpatch-property-name,
.jsondiffpatch-Added .jsondiffpatch-value pre,
.jsondiffpatch-Modified .jsondiffpatch-right-value,
.jsondiffpatch-textdiff-Added
{
    background: #bbffbb;
}

.jsondiffpatch-Deleted .jsondiffpatch-property-name,
.jsondiffpatch-Deleted pre,
.jsondiffpatch-Modified .jsondiffpatch-left-value pre,
.jsondiffpatch-textdiff-Deleted
{
    background: #ffbbbb;
    text-decoration: line-through;
}

.jsondiffpatch-unchanged, .jsondiffpatch-Movedestination {
    color: gray;
}

.jsondiffpatch-unchanged, .jsondiffpatch-Movedestination > .jsondiffpatch-value {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    overflow-y: hidden;
}

.jsondiffpatch-unchanged-showing .jsondiffpatch-unchanged,
.jsondiffpatch-unchanged-showing .jsondiffpatch-Movedestination > .jsondiffpatch-value  {
    max-height: 100px;
}

.jsondiffpatch-unchanged-hidden .jsondiffpatch-unchanged,
.jsondiffpatch-unchanged-hidden .jsondiffpatch-Movedestination > .jsondiffpatch-value {
    max-height: 0;
}

.jsondiffpatch-unchanged-hiding .jsondiffpatch-Movedestination > .jsondiffpatch-value,
.jsondiffpatch-unchanged-hidden .jsondiffpatch-Movedestination > .jsondiffpatch-value {
    display: block;
}

.jsondiffpatch-unchanged-visible .jsondiffpatch-unchanged,
.jsondiffpatch-unchanged-visible .jsondiffpatch-Movedestination > .jsondiffpatch-value {
    max-height: 100px;
}

.jsondiffpatch-unchanged-hiding .jsondiffpatch-unchanged,
.jsondiffpatch-unchanged-hiding .jsondiffpatch-Movedestination > .jsondiffpatch-value  {
    max-height: 0;
}

.jsondiffpatch-unchanged-showing .jsondiffpatch-arrow,
.jsondiffpatch-unchanged-hiding .jsondiffpatch-arrow {
    display: none;
}

.jsondiffpatch-value {
    display: inline-block;
}

.jsondiffpatch-property-name {
    display: inline-block;
    padding-right: 5px;
    vertical-align: top;
}

.jsondiffpatch-property-name:after {
    content: ': ';
}

.jsondiffpatch-child-node-type-array > .jsondiffpatch-property-name:after {
    content: ': [';
}

.jsondiffpatch-child-node-type-array:after {
    content: '],';
}

div.jsondiffpatch-child-node-type-array:before {
    content: '[';
}

div.jsondiffpatch-child-node-type-array:after {
    content: ']';
}

.jsondiffpatch-child-node-type-object > .jsondiffpatch-property-name:after {
    content: ': {';
}

.jsondiffpatch-child-node-type-object:after {
    content: '},';
}

div.jsondiffpatch-child-node-type-object:before {
    content: '{';
}

div.jsondiffpatch-child-node-type-object:after {
    content: '}';
}

.jsondiffpatch-value pre:after {
    content: ',';
}

li:last-child > .jsondiffpatch-value pre:after,
.jsondiffpatch-Modified > .jsondiffpatch-left-value pre:after
{
    content: '';
}

.jsondiffpatch-Modified .jsondiffpatch-value {
    display: inline-block;
}

.jsondiffpatch-Modified .jsondiffpatch-right-value {
    margin-left: 5px;
}

.jsondiffpatch-Moved .jsondiffpatch-value {
    display: none;
}

.jsondiffpatch-Moved .jsondiffpatch-Moved-destination {
    display: inline-block;
    background: #ffffbb;
    color: #888;
}

.jsondiffpatch-Moved .jsondiffpatch-Moved-destination:before {
    content: ' => ';
}

ul.jsondiffpatch-textdiff {
    padding: 0;
}

.jsondiffpatch-textdiff-location {
    color: #bbb;
    display: inline-block;
    min-width: 60px;
}

.jsondiffpatch-textdiff-line {
    display: inline-block;
}

.jsondiffpatch-textdiff-line-number:after {
    content: ',';
}

.jsondiffpatch-error {
    background: red;
    color: white;
    font-weight: bold;
}