body {
	padding-top: 50px;
	background-color: #FFF;
}

#main {
	position: relative;
}

#page-content {
	margin: 0 0 0 250px;
	padding: 0 30px 20px;
}

.nav, .pagination, .carousel, .panel-title a, li a, .navbar-link {
	cursor: pointer;
}

.flash-messages {
	padding: 0 40px;
	position: fixed;
	top: 60px;
	right: 0px;
	z-index: 9999;
}

.list-group-item.colored {
	background-color: #428BCA;
	border-color: #428BCA;
	color: #FFF;
}

.versionInfo {
	background-color: #428BCA;
}

.versionInfo a {
	font-weight: bold;
	color: #FFF !important;
}

.navbar-color,
.sidebar-fixed {
	background-color: #F8F8F8;
	border-color: #E7E7E7;
}

.navbar-color .navbar-nav > li > a:hover,
.navbar-color .navbar-nav > li > a:focus {
	color: #333;
	background-color: transparent;
}

.navbar-color .navbar-brand {
	color: #999;
}

.navbar-color .navbar-brand:hover,
.navbar-color .navbar-brand:focus {
	color: #5E5E5E;
}


.navbar-color .navbar-text {
	color: #999;
}

.navbar-color .navbar-nav > li > a {
	color: #999;
}

.navbar-color .navbar-nav > li > a:hover,
.navbar-color .navbar-nav > li > a:focus {
	color: #333;
	background-color: transparent;
}

.navbar-color .navbar-nav > .active > a,
.navbar-color .navbar-nav > .active > a:hover,
.navbar-color .navbar-nav > .active > a:focus {
	color: #FFF;
	background-color: #080808;
}

.navbar-color .navbar-nav > .disabled > a,
.navbar-color .navbar-nav > .disabled > a:hover,
.navbar-color .navbar-nav > .disabled > a:focus {
	color: #444;
	background-color: transparent;
}

.navbar-color .navbar-toggle {
	border-color: #333;
}

.navbar-color .navbar-toggle:hover,
.navbar-color .navbar-toggle:focus {
	background-color: #333;
}

.navbar-color .navbar-toggle .icon-bar {
	background-color: #FFF;
}

.navbar-color .navbar-collapse,
.navbar-color .navbar-form {
	border-color: #101010;
}

.navbar-color .navbar-nav > .open > a,
.navbar-color .navbar-nav > .open > a:hover,
.navbar-color .navbar-nav > .open > a:focus {
	color: #FFF;
	background-color: #080808;
}


/*===================================================
 Sidebar
 ====================================================*/
.sidebar-fixed {
	width: 250px;
	position: fixed;
	height: 100%;
	border: 1px solid #EEE;
}

.sidebar-fixed .footer {
	position: absolute;
	bottom: 3em;
	padding: 10px 15px;
}

.sidebar-fixed .nav > li > ul > li > a {
	padding-left: 30px;
}

.sidebar-fixed .nav > li > ul > li > ul > li > a {
	padding-left: 60px;
}

.sidebar-fixed .nav > li > a {
	color: #428bca;
	border-left: 5px solid #F8F8F8;
	margin-bottom: 1px;
}

.sidebar-fixed .nav > li > a:hover,
.sidebar-fixed .nav > li > a:focus {
	background-color: #EEE;
	border-color: #EEE;
}

.sidebar-fixed .nav > li.active > a {
	color: #FFF;
	border-color: #428BCA;
	background-color: #428BCA;
}

.sidebar-fixed .nav > li.active > a:hover {
	border-color: #428BCA;
}

.sidebar-fixed .nav > li.disabled > a {
	color: #999;
	font-style: italic;
}

/*===================================================
 MultiSelect
 ====================================================*/
.multiSelect,
.multiSelect a {
	color: #555;
}

.multiSelect ul {
	list-style: none;
	padding-left: 25px;
	cursor: default;
}

.multiSelect .node {
	line-height: 24px;
	cursor: pointer;
}

.multiSelect .multi-select-anchor {
	display: block;
	color: inherit;
	line-height: 24px;
	height: 24px;
}

.multiSelect .icon {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	line-height: 24px;
	background-image: url('../images/32px.png');
}

.multiSelect .collapsed {
	background-position: -4px -4px;
}

.multiSelect .expanded {
	background-position: -36px -4px;
}

.multiSelect .no-children {
	background: none;
	cursor: default;
}

.multiSelect .disabled {
	color: #999 !important;
	cursor: not-allowed;
}

#searchclear {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 14px;
	font-size: 14px;
	cursor: pointer;
	color: #CCC;
}

/*===================================================
 Summary settings
 ====================================================*/
#summary-settings {
	border-radius: 5px;
	padding-right: 10px;
	position: fixed;
	right: -270px;
	top: 80px;
	width: 270px;
	z-index: 998;

	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
		-ms-transition: all .3s;
		 -o-transition: all .3s;
			transition: all .3s;
}

#summary-settings.open {
	right: -10px;
}

#summary-settings .header {
	background: #F8F8F8;
	color: #999;
	font-size: 11px;
	font-weight: 600;
	line-height: 20px;
	margin: 0;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
	z-index: 1000;
}

#summary-settings > div {
	background: #EEE;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	position: relative;
	z-index: 1000;
}

.summary-settings-list {
	padding: 0;
	margin: 0;
}

.summary-settings-list li {
	list-style: none;
	margin: 0;
	position: relative;
	padding: 0;
}

.summary-settings-list li a {
	padding: 12px 20px;
	display: block;
	text-decoration: none;
}

.summary-settings-list li + li {
	border-top: 1px solid #E7E7E7;
}

.summary-settings-list li > .checkbox {
	color: #428BCA;
	line-height: 20px;
	padding: 2px 20px;
}

#summary-settings-toggler {
	background: #F8F8F8;
	border-radius: 5px;
	cursor: pointer;
	height: 40px;
	padding-right: 10px;
	position: absolute;
	left: -40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none !important;
	top: 0;
	width: 50px;
	z-index: 999;
}

/*===================================================
 Default theme
 ====================================================*/
.theme-default {
	background-color: #F6F6F6;
}

.theme-default a,
.theme-default a:hover,
.theme-default a:focus {
	color: #FF7900;
}

.theme-default a.btn-default,
.theme-default a.btn-default:hover {
	color: #555;
}

.theme-default .btn-primary,
.theme-default .open .dropdown-toggle.btn-primary {
	background-color: #FF7900;
	border-color: transparent;
}

.theme-default .btn-primary:hover,
.theme-default .btn-primary:focus,
.theme-default .btn-primary:active,
.theme-default .btn-primary.active,
.theme-default .open .dropdown-toggle.btn-primary {
	background-color: #F16E00;
	border-color: transparent;
}

.theme-default .btn-primary.disabled,
.theme-default .btn-primary[disabled],
.theme-default fieldset[disabled] .btn-primary,
.theme-default .btn-primary.disabled:hover,
.theme-default .btn-primary[disabled]:hover,
.theme-default fieldset[disabled] .btn-primary:hover,
.theme-default .btn-primary.disabled:focus,
.theme-default .btn-primary[disabled]:focus,
.theme-default fieldset[disabled] .btn-primary:focus,
.theme-default .btn-primary.disabled:active,
.theme-default .btn-primary[disabled]:active,
.theme-default fieldset[disabled] .btn-primary:active,
.theme-default .btn-primary.disabled.active,
.theme-default .btn-primary[disabled].active,
.theme-default fieldset[disabled] .btn-primary.active {
	background-color: #FF7900;
	border-color: transparent;
}

.theme-default .navbar-color,
.theme-default .sidebar-fixed {
	background-color: #222;
	border-color: #101010;
	text-shadow: 1px 1px 1px #000;
}

.theme-default .navbar-color .navbar-brand:hover,
.theme-default .navbar-color .navbar-brand:focus,
.theme-default .navbar-color .navbar-nav > li > a:hover,
.theme-default .navbar-color .navbar-nav > li > a:focus {
	color: #FFF;
}

.theme-default .sidebar-fixed .nav > li > a {
	color: #808B9C;
	border-color: #222;
}

.theme-default .sidebar-fixed .nav > li > a:hover,
.theme-default .sidebar-fixed .nav > li > a:focus,
.theme-default .sidebar-fixed .nav > li.active > a {
	color: #FFF;
	background-color: #181818;
}

.theme-default .sidebar-fixed .nav > li > a:hover,
.theme-default .sidebar-fixed .nav > li > a:focus {
	border-left: 5px solid #FF7900;
}

.theme-default .sidebar-fixed .nav > li.active > a {
	border-left: 5px solid #FF7900;
}

.theme-default .sidebar-fixed .nav > li.active > a:hover {
	border-left: 5px solid #FF7900;
}

.theme-default .sidebar-fixed .nav > li.disabled > a:hover,
.theme-default .sidebar-fixed .nav > li.disabled.active > a {
	border-left: 5px solid #999;
}

.theme-default .list-group-item.colored {
	background-color: #FF7900;
	border-color: #FF7900;
	color: #FFF;
}

.theme-default .multiSelect a:hover {
	color: #555;
}

.theme-default .versionInfo {
	background-color: #FF7900;
}

.theme-default #summary-settings-toggler,
.theme-default #summary-settings .header {
	color: #FFF;
	background-color: #222;
}

.theme-default #summary-settings > div {
	background-color: #181818;
}


.theme-default .summary-settings-list li a {
	color: #999;
}

.theme-default .summary-settings-list li a:hover {
	color: #FFF;
}

.theme-default .summary-settings-list li + li {
	border-color: #333;
}

.theme-default .summary-settings-list li > .checkbox {
	color: #808B9C;
}

.theme-default .summary-settings-list li > .checkbox > label:hover {
	color: #FFF;
}

/*===================================================
 Login Form
 ====================================================*/
.login-form {
	width: 400px;
	margin: 0px auto;
}

#login-footer {
	margin-top: 20px;
	border-top: 1px solid #EEE;
	padding-top: 20px;
	text-shadow: 1px 1px 1px #CCC;
}

/*===================================================
 Misc
 ====================================================*/
.placeholder {
	color: #AAA;
}

.tab-content {
	background-color: #FFF;
	border: 1px solid #DDD;
	border-top: 0;
	padding: 25px 0 15px;
}

.text-orange {
	color: #FF7900;
}

.text-orange:hover {
	color: #F16E00;
}

.form-action {
	margin-top: 10px;
	border-top: 1px solid #EEE;
	padding-top: 20px;
}

/* Loading bar */
#loading-bar,
#loading-bar-spinner {
	pointer-events: none;
	-webkit-pointer-events: none;

	-webkit-transition: 350ms linear all;
	   -moz-transition: 350ms linear all;
		 -o-transition: 350ms linear all;
			transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
	opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
	opacity: 1;
}

#loading-bar .bar {
	-webkit-transition: width 350ms;
	   -moz-transition: width 350ms;
		 -o-transition: width 350ms;
			transition: width 350ms;

	background: #FF7900;
	position: absolute;
	z-index: 10002;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	border-bottom-right-radius: 1px;
	border-top-right-radius: 1px;
}

#loading-bar .peg {
	position: absolute;
	width: 70px;
	right: 0;
	top: 0;
	height: 2px;
	opacity: .45;

	-webkit-box-shadow: #FF7900 1px 0 6px 1px;
	   -moz-box-shadow: #FF7900 1px 0 6px 1px;
		-ms-box-shadow: #FF7900 1px 0 6px 1px;
			box-shadow: #FF7900 1px 0 6px 1px;

	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
			border-radius: 100%;
}

#loading-bar-spinner {
	display: block;
	position: absolute;
	z-index: 10002;
	top: 10px;
	right: 10px;
}

#loading-bar-spinner .spinner-icon {
	width: 14px;
	height: 14px;

	border: solid 2px transparent;
	border-top-color:  #FF7900;
	border-left-color: #FF7900;
	border-radius: 10px;

	-webkit-animation: loading-bar-spinner 400ms linear infinite;
	   -moz-animation: loading-bar-spinner 400ms linear infinite;
		-ms-animation: loading-bar-spinner 400ms linear infinite;
		 -o-animation: loading-bar-spinner 400ms linear infinite;
			animation: loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
	0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes loading-bar-spinner {
	0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes loading-bar-spinner {
	0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes loading-bar-spinner {
	0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes loading-bar-spinner {
	0%   { transform: rotate(0deg);   transform: rotate(0deg); }
	100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/*===================================================
 JsonDiff
 ====================================================*/
.catalog-diff-added {
	color: #5CB85C;
	font-weight: bold;
}

.catalog-diff-modified {
	color: #428BCA;
	font-weight: bold;
}

.catalog-diff-deleted {
	color: #D9534F;
	font-weight: bold;
}

.diff-added {
	background-color: #DFF0D8;
}

.diff-added  > .panel-heading > .panel-title > a,
.diff-added  > .panel-heading > .panel-title > a:hover,
.diff-added  > .panel-heading > .panel-title > a:focus {
	color: #5CB85C;
	font-weight: bold;
}

.diff-modified {
	background-color: #D9EDF7;
}

.diff-modified  > .panel-heading > .panel-title > a,
.diff-modified  > .panel-heading > .panel-title > a:hover,
.diff-modified  > .panel-heading > .panel-title > a:focus {
	color: #428BCA;
	font-weight: bold;
}

.diff-deleted {
	background-color: #F2DEDE;
}

.diff-deleted  > .panel-heading > .panel-title > a,
.diff-deleted  > .panel-heading > .panel-title > a:hover,
.diff-deleted  > .panel-heading > .panel-title > a:focus {
	color: #D9534F;
	font-weight: bold;
}
