<!--<textarea class="form-control">{{ universe }}</textarea>-->
<span ng-bind="universe.id"></span>
<form class="form-horizontal" name="universeForm" ng-submit="submit()" role="form" novalidate>
	<div class="form-group" ng-class="validateState(universeForm.id)">
		<label for="universeId" class="col-xs-5 control-label">Id <span class="text-danger">*</span></label>
		<div class="col-xs-7">
			<div class="input-group">
				<input type="text" name="id" ng-model="universe.id" ng-pattern="singleWordPattern" class="form-control" id="universeId" ng-readonly="$state.includes('app.universes.edit')" placeholder="Identifiant de l'univers" required>
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(universeForm.id) }}"></i>
				</span>
			</div>
			<span ng-if="showError(universeForm.id, 'pattern')" class="help-block">Ce champ ne doit contenir qu'un mot simple.</span>
		</div>
	</div>

	<div class="form-group" ng-class="validateState(universeForm.vodApplicationId)">
		<label class="col-xs-5 control-label">Application <span class="text-danger">*</span></label>
		<div class="col-xs-7">

			<div class="input-group select2-bootstrap-append">
				<select ui-select2 name="vodApplicationId" ng-model="universe.vodApplicationId" class="form-control select2" ng-readonly="$state.includes('app.universes.edit')" required>
					<option></option>
					<option ng-repeat="application in applications" ng-if="application.id" value="{{ application.id }}">{{ application.id }}</option>
				</select>
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(universeForm.vodApplicationId) }}"></i>
				</span>
			</div>

		</div>
	</div>

	<div class="form-group" ng-class="validateState(universeForm.name)">
		<label for="universeName" class="col-xs-5 control-label">Nom <span class="text-danger">*</span></label>
		<div class="col-xs-7">
			<div class="input-group">
				<input type="text" name="name" ng-model="universe.name" class="form-control" id="universeName" placeholder="Nom de l'univers" required>
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(universeForm.name) }}"></i>
				</span>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="validateState(universeForm.catalogId)">
		<label class="col-xs-5 control-label">Catalogue <span class="text-danger">*</span></label>
		<div class="col-xs-7">
			<div class="input-group select2-bootstrap-append">
				<select ui-select2 name="catalogId" ng-model="universe.catalogId" id="universeCatalog" class="form-control select2" required>
					<option ng-repeat="catalog in catalogs" ng-if="catalog.id" value="{{ catalog.id }}">{{ catalog.id }}</option>
				</select>
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(universeForm.catalogId) }}"></i>
				</span>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="validateState(universeForm.mergingMode)">
		<label class="col-xs-5 control-label">Merging mode de l'univers <span class="text-danger">*</span></label>
		<div class="col-xs-7">
			<div class="input-group select2-bootstrap-append">
				<select ui-select2 name="mergingMode" ng-model="universe.mergingMode" ng-readonly="disableMergingModeInput(universe.vodApplicationId)" id="universeCatalog" class="form-control select2" required>
					<option value="NONE">NONE</option>
					<option value="CATEGORY_ASCENT">CATEGORY_ASCENT</option>
					<option value="ARTICLE_ASCENT">ARTICLE_ASCENT</option>
				</select>
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(universeForm.mergingMode) }}"></i>
				</span>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-5 control-label">Catégories de l'univers</label>
		<div class="col-xs-7">
			<ul class="list-unstyled well">
				<li ng-repeat="category in selectedCategories" ng-if="category.selected === true">
					<span ng-bind="category.name"></span>
				</li>
			</ul>
		</div>
	</div>

	<div
		multi-select
		multi-select-input="categories"
		multi-select-output="selectedCategories"
		multi-select-children-auto="false"
		multi-select-auto-expand-children="false"
		multi-select-auto-expand-sub-children="false"
		multi-select-auto-disable-family="true"
		multi-select-children-property="categories"
		multi-select-parent-property="ancestors">
	</div>

	<div class="form-action text-right">
		<a ng-click="cancel()" class="btn btn-default">Annuler</a>
		<button type="submit" id="submit" ng-disabled="universeForm.$invalid" class="btn btn-default btn-primary">Valider</button>
	</div>
</form>