<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h2>{{ pageTitle }} <small>{{ pageAction }}</small></h2>
		</div>
		<div ui-view>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="query.id" placeholder="Rechercher">
							<span class="input-group-addon"><i class="fa fa-search"></i></span>
						</div>
					</div>
					<div class="action-buttons"></div>
				</div>
				<div class="col-xs-12">
					<div ng-repeat="(application, universes) in rows">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{ application }}</h3>
							</div>
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>
											<tri-state-checkbox checkboxes="checkboxes[application]"></tri-state-checkbox>
										</th>
										<th class="col-xs-12">Nom</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="universe in universes | filter:query:strict">
										<td>
											<input id="{{ universe.id }}" type="checkbox" ng-model="checkboxes[application][universe.id]" class="itemCheckbox">
										</td>
										<td><a ui-sref=".view({ id: universe.id })">{{ universe.name }}</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="action-buttons"></div>
				</div>
			</div>
		</div>
	</div>
</div>