<div>
	<div class="btn-group">
		<button class="btn btn-default" ui-sref="^.duplicate({id: univId})">Dupliquer</button>
		<button class="btn btn-default" ui-sref="^.edit({id: univId})">Modifier</button>
		<button class="btn btn-default" ng-click="open([univId])">Supprimer</button>
	</div>

	<hr>

	<ul class="list-group">
		<li class="list-group-item colored">
			<h4 class="list-group-item-heading">Identifiant</h4>
			<p class="list-group-item-text" ng-bind="universeView.id"></p>
		</li>
	</ul>

	<ul class="list-group">
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Application</h4>
			<p class="list-group-item-text" ng-bind="universeView.vodApplicationId"></p>
		</li>

		<li class="list-group-item">
			<h4 class="list-group-item-heading">Nom</h4>
			<p class="list-group-item-text" ng-bind="universeView.name"></p>
		</li>

		<li class="list-group-item">
			<h4 class="list-group-item-heading">Catalogue</h4>
			<p class="list-group-item-text" ng-bind="universeView.catalogId"></p>
		</li>

		<li class="list-group-item">
			<h4 class="list-group-item-heading">Merging mode</h4>
			<p class="list-group-item-text" ng-bind="universeView.mergingMode"></p>
		</li>

		<li class="list-group-item">
			<h4 class="list-group-item-heading">Catégorie(s)</h4>
			<p ng-if="universeView.categories.length > 0" class="list-group-item-text" ng-bind="universeView.categories"></p>
			<p ng-if="universeView.categories.length === 0"class="list-group-item-text">
				Aucune catégorie sélectionnée
			</p>
		</li>
	</ul>

	<hr>
</div>

<ul class="pager">
	<li class="previous"><a ng-click="redirect()">&larr; Retour</a></li>
</ul>