<div class="page-header">
	<h2>Publication</h2>
</div>
<div>
	<p>
		L'outil permet la publication des modifications de la configuration de l'espace de travail sur l'espace de production. Une fois cette publication effectuée, il reste la possibilité de <a ui-sref="app.summary">recharger une configuration</a> vers celle de travail.
	</p>
	<p>
		<em>Remarque</em> : La publication n'est disponible uniquement si la configuration de travail est différente de celle de production.
	</p>
</div>
<div>
	<button ng-disabled="!delta" class="btn btn-primary" ng-click="open()">Publier</button>
</div>
<hr>

<div summary-legend></div>
<div summary-settings></div>

<div class="col-xs-6">
	<div summary-view summary-data="workingSummary" summary-opened="opened" summary-title="WORK" summary-diffs="diffs" summary-close-others="oneAtATime" summary-open-prefix="workPrefix"></div>
</div>
<div class="col-xs-6">
	<div summary-view summary-data="prodSummary" summary-opened="opened" summary-title="PROD" summary-diffs="diffs" summary-close-others="oneAtATime" summary-open-prefix="statePrefix"></div>
</div>

<div class="col-xs-12">
	<button ng-if="delta" ng-click="viewDiff()" class="btn btn-info btn-xs pull-right">Visualisation JSON</button>
</div>