<div class="modal-header">
	<h3 class="modal-title">Confirmation</h3>
</div>
<div class="modal-body">
	{{ message }}
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Annuler</button>
	<button class="btn btn-primary" ng-click="confirm()">Oui</button>
</div>