<div>
	<div class="modal-header">
		<h3 class="modal-title">{{ modalTitle }}</h3>
	</div>
	<div class="modal-body">
		<p>Êtes vous sûr de vouloir supprimer les éléments suivants : </p>
		<ul>
			<li ng-repeat="item in items">{{ item }}</li>
		</ul>
		<p><strong>Cette action est irréversible.</strong></p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="dismiss()">Cancel</button>
		<button class="btn btn-danger" ng-click="accept()">OK</button>
	</div>
</div>