<div class="page-header">
	<h2>{{ pageTitle }} <small>{{ pageAction }}</small></h2>
</div>
<div ui-view>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="query.id" placeholder="Rechercher">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
				</div>
			</div>
			<div class="action-buttons"></div>
		</div>
		<div class="col-xs-12">
			<div class="panel panel-default">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>
								<tri-state-checkbox checkboxes="checkboxes"></tri-state-checkbox>
							</th>
							<th class="col-xs-12">Nom</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in rows | filter:query:strict" ng-if="row.id">
							<td><input id="{{ row.id }}" type="checkbox" ng-model="checkboxes[row.id]"></td>
							<td><a ui-sref=".view({id: row.id})">{{ row.id }}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="action-buttons"></div>
		</div>
	</div>
</div>