<p>
	<button type="button" id="createBtn" ui-sref=".create" class="btn btn-default btn-sm">Créer</button>
	<button type="button" id="duplicateBtn" ng-disabled="!selectOneFlag" ui-sref=".duplicate({id: selected[0]})" class="btn btn-default btn-sm">Dupliquer</button>
	<button type="button" id="viewBtn" ng-disabled="!selectOneFlag" ui-sref=".view({id: selected[0]})" class="btn btn-default btn-sm">Visualiser</button>
	<button type="button" id="editBtn" ng-disabled="!selectOneFlag" ui-sref=".edit({id: selected[0]})" class="btn btn-default btn-sm">Modifier</button>
	<button type="button" id="deleteBtn" ng-disabled="!selectMultipleFlag" ng-click="open(selected)" class="btn btn-default btn-sm">Supprimer</button>
</p>