<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-xs-12">
					<div class="form-group has-feedback">
						<input type="text" ng-disabled="true" class="form-control" ng-model="query" ng-change="search()" placeholder="Rechercher">
						<span id="searchclear" ng-if="query.length > 0" class="fa fa-times-circle" ng-click="resetSearch()"></span>
					</div>
					<p class="text-center">
						<a class="btn btn-default btn-xs" ng-click="expandAll()">Tout déplier</a>
						&bull;
						<a class="btn btn-default btn-xs" ng-click="collapseAll()">Tout replier</a>
						<span ng-if="!autoDisableFamily && !readOnly">
							&bull;
							<a class="btn btn-default btn-xs" ng-click="selectHelper('all')">Tout sélectionner</a>
							&bull;
							<a class="btn btn-default btn-xs" ng-click="selectHelper('none')">Tout désélectionner</a>
						</span>
					</p>

					<ul class="list-unstyled multiSelect" ng-repeat="category in input">
						<li class="node" ng-click="toggle(category)">
							<span class="icon" ng-class="stateCSS(category)"></span>
							<strong ng-class="{'text-orange': hasCheckedChildren(category)}">{{ category.id }}</strong>
						</li>
						<ul ng-if="isExpanded(category)">
							<li class="node" ng-repeat="category in category[$childProperty] | normalizedFilter:query" ng-include="'subTree.html'"></li>
						</ul>
					</ul>

					<script type="text/ng-template" id="subTree.html">
						<i class="icon"
							ng-if="hasChildren(category)"
							ng-class="stateCSS(category)"
							ng-click="toggle(category)">
						</i>

						<i class="icon"
							ng-if="!hasChildren(category)"
							ng-class="stateCSS(category)">
						</i>

						<a class="multi-select-anchor" ng-class="stateItem(category)" ng-click="selectItem(category)">
							<i class="fa" ng-class="stateChecked(category)"></i>
							<i><strong>{{ category.name }}</strong> ({{ category.id }})</i>
						</a>

						<ul ng-if="hasChildren(category) && isExpanded(category)">
							<li class="node" ng-repeat="category in category[$childProperty]" ng-include="'subTree.html'"></li>
						</ul>
					</script>
				</div>
			</div>
		</div>
	</div>
</div>