<!--<textarea class="form-control">{{ application }}</textarea>-->
<form class="form-horizontal" name="applicationForm" ng-submit="submit()" role="form" novalidate>
	<div class="form-group" ng-class="validateState(applicationForm.id)">
		<label for="applicationId" class="col-xs-5 control-label">Id de l'application <span class="text-danger">*</span></label>
		<div class="col-xs-7">
			<div class="input-group">
				<input type="text" name="id" ng-readonly="$state.includes('app.applications.edit')" ng-model="application.id" ng-pattern="singleWord" class="form-control" id="applicationId" placeholder="Id" required>
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(applicationForm.id) }}"></i>
				</span>
			</div>
			<span ng-show="showError(applicationForm.id, 'pattern')" class="help-block">Ce champ ne doit contenir qu'un mot simple.</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-5 control-label">Version métier TVM <span class="text-danger">*</span></label>
		<div class="col-xs-7">
			<div class="input-group select2-bootstrap-append">
				<select ui-select2 name="businessVersion" ng-model="application.businessVersion" class="form-control select2" required>
					<option ng-repeat="version in businessVersionList" value="{{ version }}" ng-selected="{{version == application.businessVersion}}">{{ version }}</option>
				</select>
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(applicationForm.businessVersion) }}"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="licenceUrl" class="col-xs-5 control-label">Radical de l'URL de retrait de la licence</label>
		<div class="col-xs-7">
			<div class="input-group">
				<input type="text" name="licenceUrl" ng-model="application.licenceUrl" class="form-control" id="licenceUrl">
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(applicationForm.licenceUrl) }}"></i>
				</span>
			</div>
		</div>
	</div>
	<hr>
	<div class="form-group">
		<label class="col-xs-5 control-label">Code(s) CSA autorisé(s)</label>
		<div class="col-xs-7">
			<div class="input-group select2-bootstrap-append">
				<select ui-select2 name="levels" ng-model="application.filters.csa.levels" class="form-control select2-multiple" multiple>
					<option ng-repeat="level in levelsModel" value="{{ level }}">{{ level }}</option>
				</select>
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(applicationForm.levels) }}"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-5 control-label">Mode(s) de livraison autorisé(s)</label>
		<div class="col-xs-7">

			<div class="input-group select2-bootstrap-append">
				<select ui-select2 name="deliveries" ng-model="application.filters.deliveries.deliveries" class="form-control select2" multiple>
					<option ng-repeat="delivery in deliveriesModel" value="{{ delivery }}">{{ delivery }}</option>
				</select>
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(applicationForm.deliveries) }}"></i>
				</span>
			</div>

		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-5 control-label">Liste des qualités à filtrer</label>
		<div class="col-xs-7">

			<div class="input-group select2-bootstrap-append">
				<select ui-select2 name="qualities" ng-model="qualities" class="form-control select2-multiple" multiple>
					<option ng-repeat="quality in qualitiesModel" value="{{ quality }}">{{ quality }}</option>
				</select>
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(applicationForm.qualities) }}"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-5 control-label">Catégories à filtrer</label>
		<div class="col-xs-7">
			<ul class="list-unstyled well">
				<li ng-repeat="category in selectedCategories" ng-if="category.selected === true">
					<span ng-bind="category.name"></span>
				</li>
			</ul>
		</div>
	</div>

	<div
		multi-select
		multi-select-input="categories"
		multi-select-output="selectedCategories"
		multi-select-children-auto="false"
		multi-select-auto-expand-children="true"
		multi-select-auto-expand-sub-children="false"
		multi-select-children-property="categories"
		multi-select-parent-property="ancestors">
	</div>

	<div class="form-group">
		<label class="col-xs-5 control-label">Type de mise en avant</label>
		<div class="col-xs-7">
			<div class="input-group select2-bootstrap-append">
				<select ui-select2 name="highlights" ng-model="application.filters.highlightItems.highlightItems" class="form-control select2-multiple" multiple>
					<option ng-repeat="highlight in highlightsModel" value="{{ highlight }}">{{ highlight }}</option>
				</select>
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(applicationForm.highlights) }}"></i>
				</span>
			</div>
		</div>
	</div>

	<div class="form-action text-right">
		<a ng-click="cancel()" class="btn btn-default">Annuler</a>
		<button type="submit" id="submit" ng-disabled="applicationForm.$invalid" class="btn btn-default btn-primary">Valider</button>
	</div>
</form>