<div>
	<div class="btn-group">
		<button class="btn btn-default btn-sm" ui-sref="^.duplicate({id: applicationView.id})">Dupliquer</button>
		<button class="btn btn-default btn-sm" ui-sref="^.edit({id: applicationView.id})">Modifier</button>
		<button class="btn btn-default btn-sm" ng-click="open([applicationView.id])">Supprimer</button>
	</div>

	<hr>

	<h3>Informations sur l'application</h3>
	<ul class="list-group">
		<li class="list-group-item colored">
			<h4 class="list-group-item-heading">Identifiant</h4>
			<p class="list-group-item-text" ng-bind="applicationView.id"></p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Version métier TVM</h4>
			<p class="list-group-item-text" ng-bind="applicationView.businessVersion"></p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Radical de l'URL de retrait de la licence</h4>
			<p class="list-group-item-text"><em>{{ applicationView.licenceUrl || "Non renseigné" }}</em></p>
		</li>
	</ul>

	<h3>Filtres</h3>
	<ul class="list-group">
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Code(s) CSA autorisé(s)</h4>
			<p ng-if="applicationView.filters.csa.length > 0" class="list-group-item-text" ng-bind="applicationView.filters.csa"></p>
			<p ng-if="applicationView.filters.csa.length === 0" class="list-group-item-text">Aucun code CSA sélectionné</p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Mode(s) de livraison autorisé(s)</h4>
			<p ng-if="applicationView.filters.deliveries.length > 0" class="list-group-item-text" ng-bind="applicationView.filters.deliveries"></p>
			<p ng-if="applicationView.filters.deliveries.length === 0" class="list-group-item-text">
				Aucun mode de livraison sélectionné
			</p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Qualité(s) à filtrer</h4>
			<p ng-if="applicationView.filters.filteredQualities.length > 0" class="list-group-item-text" ng-bind="applicationView.filters.filteredQualities"></p>
			<p ng-if="applicationView.filters.filteredQualities.length === 0" class="list-group-item-text">
				Aucune qualité sélectionnée
			</p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Catégorie(s) à filtrer</h4>
			<p ng-if="applicationView.filters.filteredCategories.length > 0" class="list-group-item-text" ng-bind="applicationView.filters.filteredCategories"></p>
			<p ng-if="applicationView.filters.filteredCategories.length === 0" class="list-group-item-text">
				Aucune catégorie sélectionnée
			</p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Type(s) de mise en avant</h4>
			<p ng-if="applicationView.filters.highlightItems.length > 0"  class="list-group-item-text" ng-bind="applicationView.filters.highlightItems"></p>
			<p ng-if="applicationView.filters.highlightItems.length === 0" class="list-group-item-text">
				Aucun type de mise en avant sélectionné
			</p>
		</li>
	</ul>

	<hr>
</div>

<ul class="pager">
	<li class="previous"><a ng-click="redirect()">&larr; Retour</a></li>
</ul>