<!-- Sidebar begin -->
<div class="sidebar-fixed" ng-controller="MainMenuCtrl">
	<navigation links="links"></navigation>
	<div class="footer">
		<ul class="list-unstyled">
			<li><i class="text-orange">Interne Groupe Orange</i></li>
			<li><i class="text-muted">Optimisé pour Chrome/Firefox</i></li>
		</ul>
	</div>
</div>
<!-- Sidebar end -->

<div id="page-content">
	<!-- Main view begin -->
	<div class="row">
		<!--[if lt IE 9]>
			<p class="alert alert-danger text-center" style="margin-top: 20px">
				Votre navigateur est <strong>obsolète</strong>. Pour profiter de toutes les fonctionnalités de cet outils, veuillez mettre à jour votre navigateur.
			</p>
		<![endif]-->
		<div ui-view class="col-xs-12"></div>
	</div>
	<!-- Main view end -->
</div>