<!--[if lt IE 9]>
	<div class="row">
		<div class="col-xs-12">
			<p class="alert alert-danger text-center" style="margin-top: 20px">
				Votre navigateur est <strong>obsolète</strong>. Pour profiter de toutes les fonctionnalités de cet outils, veuillez mettre à jour votre navigateur.
			</p>
		</div>
	</div>
<![endif]-->
<div ng-if="!isLoggedIn()" class="row" style="margin: 60px 0;">
	<div class="login-form">
		<div class="panel panel-default">
			<div class="panel-heading">Connexion à l'AdminTool</div>
			<div class="panel-body">
				<form  class="form-horizontal" name="loginForm" ng-submit="submit()" role="form" novalidate>
					<div class="form-group">
						<label class="col-xs-5 control-label" for="username">Identifiant :</label>
						<div class="col-xs-7">
							<input type="text" class="form-control" id="username" ng-model="user.name" autofocus required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-5 control-label" for="password">Mot de passe :</label>
						<div class="col-xs-7">
							<input type="password" class="form-control" id="password" ng-model="user.password" required>
						</div>
					</div>
					<button type="submit" id="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary pull-right">Connexion</button>
				</form>
			</div>
		</div>
	</div>
	<footer id="login-footer">
		<ul class="list-unstyled text-center">
			<li>Interne Groupe Orange</li>
			<li><i class="text-muted">Optimisé pour Google Chrome/Mozilla Firefox</i></li>
		</ul>
	</footer>
</div>