<div>
	<div class="modal-header">
		<h3 class="modal-title">Visualisation JSON</h3>
	</div>
	<div class="modal-body">
		<p ng-bind-html="formatted"></p>
		<p></p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="close()">Fermer</button>
	</div>
</div>