<div class="page-header">
	<h2>Résumé global</h2>
	<p>
		Comparer à :
		<select ng-model="state" ng-change="loadState()">
			<option value=""></option>
			<option value="OLD">OLD</option>
			<option value="PROD">PROD</option>
		</select>
	</p>
	<div>
		<button ng-if="state === 'OLD'" ng-disabled="!delta" class="btn btn-primary" ng-click="reload('OLD')">Recharger la configuration de backup</button>
		<button ng-if="state === 'PROD'" ng-disabled="!delta" class="btn btn-primary" ng-click="reload('PROD')">Recharger la configuration de production</button>
	</div>
</div>

<div summary-legend></div>
<div summary-settings></div>

<div class="col-xs-6">
	<div summary-view summary-data="workingSummary" summary-opened="opened" summary-title="WORK" summary-diffs="diffs" summary-close-others="oneAtATime" summary-open-prefix="workPrefix"></div>
</div>
<div class="col-xs-6">
	<div summary-view ng-if="state && stateSummary" summary-data="stateSummary" summary-opened="opened" summary-title="{{ state }}" summary-diffs="diffs" summary-close-others="oneAtATime" summary-open-prefix="statePrefix"></div>
</div>

<div class="col-xs-12">
	<button ng-if="state && delta" ng-click="viewDiff()" class="btn btn-info btn-xs pull-right">Visualisation JSON</button>
</div>