<div class="col-xs-12">
	<div ng-if="displayLegend">
		<div ng-if="!delta" class="alert alert-success">
			<i class="fa fa-check"></i> Les deux configurations sont identiques.
		</div>
		<div ng-if="delta">
			<div class="alert alert-danger">
				<p ng-if="delta.catalogs">
					<i class="fa fa-warning"></i> Différences détectées dans les catalogues.
					(
					<span ng-repeat="(key, value) in diffs.catalogs"><strong>{{ key }}</strong><span ng-if="!$last">, </span></span>
					)
				</p>
				<p ng-if="delta.applications">
					<i class="fa fa-warning"></i> Différences détectées dans les applications.
					(
					<span ng-repeat="(key, value) in diffs.applications"><strong>{{ key }}</strong><span ng-if="!$last">, </span></span>
					)
				</p>
			</div>
			<strong>Légende</strong> : <i class="fa fa-square" style="color: #5CB85C"></i> Ajouté, <i class="fa fa-square" style="color: #428BCA"></i> Modifié, <i class="fa fa-square" style="color: #D9534F"></i> Supprimé
		</div>
	</div>
</div>