<div>
	<h3>{{ title }}</h3>
	<!--<p><textarea class="form-control">{{ data }}</textarea></p>-->
	<div accordion close-others="oneAtATime">
		<div accordion-group is-open="opened.catalogs">
			<div accordion-heading>
				Catalogues <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': opened.catalogs, 'glyphicon-chevron-right': !opened.catalogs}"></i>
			</div>
			<div ng-repeat="catalog in data.catalogs" ng-class="catDiffValue(catalog.id)">
				<strong>{{ catalog.id }}</strong>
				<ul class="list-unstyled">
					<li>
						<strong>type</strong>: {{ catalog.type }}
					</li>
					<li>
						<strong>searchOriginId</strong>: {{ catalog.searchOriginId || "Ø" }}
					</li>
				</ul>
				<hr ng-if="!$last">
			</div>
		</div>
	</div>
	<hr>
	<div class="panel panel-default">
		<div class="panel-heading">Applications</div>
		<div class="panel-body">
			<div accordion close-others="oneAtATime">
				<div accordion-group ng-repeat="application in data.applications" ng-class="appDiffValue(application.id)" is-open="opened.applications[prefix + application.id]">
					<div accordion-heading>
						{{ application.id }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': opened.applications[prefix + application.id], 'glyphicon-chevron-right': !opened.applications[prefix + application.id]}"></i>
					</div>

					<dl>
						<dt>businessVersion</dt>
						<dd>{{ application.businessVersion }}</dd>
						<dt>licenceUrl</dt>
						<dd>{{ application.licenceUrl || "Ø" }}</dd>
					</dl>

					<h4>Filtres</h4>
					<ul>
						<li ng-repeat="(filter, value) in application.filters">
							<strong>{{ filter }}</strong>:
							<span ng-if="value.length > 0" ng-bind="value"></span>
							<span ng-if="value.length === 0">Ø</span>
						</li>
					</ul>

					<hr>

					<h4>Univers</h4>
					<div accordion ng-if="application.universes.length > 0" close-others="oneAtATime">
						<div accordion-group ng-repeat="universe in application.universes" ng-class="univDiffValue(universe.uniqueId)" is-open="opened.universes[prefix + universe.uniqueId]">
							<div accordion-heading>
								{{ universe.id }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': opened.universes[prefix + universe.uniqueId], 'glyphicon-chevron-right': !opened.universes[prefix + universe.uniqueId]}"></i>
							</div>
							<ul>
								<li ng-repeat="(key, value) in universe">
									<strong>{{ key }}</strong>:
									<span ng-if="value.length > 0" ng-bind="value"></span>
									<span ng-if="value.length === 0">Ø</span>
								</li>
							</ul>
						</div>
					</div>
					<p ng-if="application.universes.length === 0">
						<!--Aucun univers n'est lié à cette application.-->
						Ø
					</p>
				</div>
			</div>
		</div>
	</div>
</div>