<div id="summary-settings" ng-class="{ 'open': settingsOpened }">
	<a id="summary-settings-toggler" class="fa" ng-class="{ 'fa-cogs fa-lg': !settingsOpened, 'fa-times': settingsOpened }" ng-click="toggleSettings()"></a>
	<div>
		<h5 class="header">Paramètres des accordéons</h5>
		<ul class="summary-settings-list">
			<li class="clearfix" tooltip="Force la fermeture des autres accordéons lors de l'ouverture">
				<div class="checkbox">
					<label>
						<!-- tooltip creates a new scope, '$parent' is required to make the model work -->
						<!-- see http://github.com/angular-ui/bootstrap/wiki/FAQ -->
						<input type="checkbox" ng-model="$parent.oneAtATime"> Ouvrir un à la fois
					</label>
				</div>
			</li>
			<li class="clearfix" tooltip="Force l'ouverture des accordéons dans les deux configurations">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="$parent.statePrefix" ng-true-value="" ng-false-value="state_"> Ouverture synchronisée
					</label>
				</div>
			</li>
		</ul>
		<h5 class="header">Actions</h5>
		<ul class="summary-settings-list">
			<li class="clearfix">
				<a ng-click="openAll()">Tout déplier</a>
			</li>
			<li class="clearfix">
				<a ng-click="closeAll()">Tout replier</a>
			</li>
		</ul>
	</div>
</div>