<div class="page-header">
	<h2>Catégories</h2>
</div>

<p>
	<button class="btn btn-default" ng-click="open()">Recharger les catégories</button>
</p>

<!--<div>
	<tabset>
		<tab ng-repeat="(id, children) in data" heading="{{ id }}">
			<categories categories="children.categories"></categories>
		</tab>
	</tabset>
</div>-->

<form class="form-horizontal">
	<div
		multi-select
		multi-select-input="data"
		multi-select-read-only="true"
		multi-select-auto-expand-sub-children="false"
		multi-select-children-property="categories"
		multi-select-parent-property="ancestors">
	</div>
</form>