<div class="modal-header">
	<h3 class="modal-title">Recharger les catégories</h3>
</div>
<div class="modal-body">
	<p>
		Sélectionnez les catalogues à recharger :
		<ul class="list-inline text-center">
			<li ng-repeat="catalog in catalogs">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="selectedCatalogs[catalog]"> {{ catalog }}
					</label>
				</div>
			</li>
		</ul>
	</p>

	<p>
		<i><strong>Attention</strong> : (...)</i>
	</p>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" ng-click="ok()">OK</button>
</div>