<!--<textarea class="form-control">{{ catalog }}</textarea>-->
<form class="form-horizontal" name="catalogForm" ng-submit="submit()" role="form" novalidate>
	<div class="form-group" ng-class="validateState(catalogForm.id)">
		<label for="catalogId" class="col-xs-6 control-label">Id du catalogue <span class="text-danger">*</span></label>
		<div class="col-xs-6">

			<div class="input-group">
				<input type="text" name="id" ng-readonly="$state.includes('app.catalogs.edit')" ng-model="catalog.id" ng-pattern="singleWord" class="form-control" id="catalogId" placeholder="Ex: 2424VIDEO" required>

				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(catalogForm.id) }}"></i>
				</span>
			</div>
			<span ng-show="showError(catalogForm.id, 'pattern')" class="help-block">Ce champ ne doit contenir qu'un mot simple.</span>
		</div>
	</div>
	<div class="form-group" ng-class="validateState(catalogForm.type)">
		<label for="catalogType" class="col-xs-6 control-label">Type <span class="text-danger">*</span></label>
		<div class="col-xs-6">

			<div class="input-group select2-bootstrap-append">
				<select ui-select2 name="type" ng-model="catalog.type" class="form-control select2" id="catalogType" required>
					<option></option>
					<option>PASS</option>
					<option>TRANSACTIONAL</option>
				</select>
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(catalogForm.type) }}"></i>
				</span>
			</div>

		</div>
	</div>
	<div class="form-group">
		<label for="searchOriginId" class="col-xs-6 control-label">Contexte de recherche dans l'enabler WVF</label>
		<div class="col-xs-6">

			<div class="input-group">
				<input type="text" name="searchOriginId" ng-model="catalog.searchOriginId" class="form-control" id="searchOriginId">
				<span class="input-group-addon">
					<i class="fa fa-info-circle" tooltip="{{ tooltipHelp(catalogForm.searchOriginId) }}"></i>
				</span>
			</div>
		</div>
	</div>

	<div class="form-action text-right">
		<a ng-click="cancel()" class="btn btn-default">Annuler</a>
		<button type="submit" id="submit" ng-disabled="catalogForm.$invalid" class="btn btn-default btn-primary">Valider</button>
	</div>
</form>