<div>
	<div class="btn-group">
		<button class="btn btn-default" ui-sref="^.duplicate({id: catalogView.id})">Dupliquer</button>
		<button class="btn btn-default" ui-sref="^.edit({id: catalogView.id})">Modifier</button>
		<button class="btn btn-default" ng-click="open([catalogView.id])">Supprimer</button>
	</div>

	<hr>

	<ul class="list-group">
		<li class="list-group-item colored">
			<h4 class="list-group-item-heading">Identifiant</h4>
			<p class="list-group-item-text" ng-bind="catalogView.id"></p>
		</li>
	</ul>

	<ul class="list-group">
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Type</h4>
			<p class="list-group-item-text" ng-bind="catalogView.type"></p>
		</li>

		<li class="list-group-item">
			<h4 class="list-group-item-heading">Contexte de recherche dans l'enabler WVF</h4>
			<p class="list-group-item-text" ng-bind="catalogView.searchOriginId"></p>
		</li>
	</ul>

	<hr>
</div>

<ul class="pager">
	<li class="previous"><a ng-click="redirect()">&larr; Retour</a></li>
</ul>