<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h2>Gestion des médias</h2>
		</div>
		<div class="col-xs-6">
			<div jstree selected-node="node">
				<ul>
					<li>Root node 1
						<ul>
							<li>Child node 1</li>
							<li><a href="#">Child node 2</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="well">
				<p ng-hide="node">No node selected</p>
				<p ng-show="node">Node: {{ node.id }}</p>
			</div>
		</div>
	</div>
</div>